.btn-group
  .v-btn
    border-radius: 0

// .v-sheet
//   background: red !important

.v-input
  &.no-details
    .v-text-field__details
      display: none

.v-btn
  &.xx-small
    height: 32px
    min-width: 32px


.view-false
  display: none !important


/* width */
::-webkit-scrollbar
  width: 5px
  height: 5px


/* Track */
::-webkit-scrollbar-track
  background: #424242

 
/* Handle */
::-webkit-scrollbar-thumb
  background: #000


/* Handle on hover */
::-webkit-scrollbar-thumb:hover
  background: #757575

.shortkey-buttons
  // display: flex !important
  display: none !important

.v-navigation-drawer--fixed
    z-index: 100 !important



@media (max-width: 1264px)
  .v-tooltip__content
    display: none !important